header {
  height: 76px;
  background-color: cornsilk;
  display: flex;
  justify-content: space-around;
}

.logo,
.info,
.links {
  height: 100%;
  width: 70px;
  color: rgb(153, 62, 1);
}

.logo {
  background-image: url('https://st2.depositphotos.com/4472335/11700/i/950/depositphotos_117002080-stock-photo-vector-templates-with-a-locomotive.jpg');
  background-size: cover;
  background-position: center;
  height: 60px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.info{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    div{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 7px;
    }
    h5{
        width: 200px;
        text-align: center;
    }
    span:hover{
        text-decoration: underline;
        cursor: pointer;

    }
}

.links{
    line-height: 76px;
    text-align: center;
    cursor: pointer;
}