<footer>
  <div class="ostap">
    <div class="logo" [routerLink]="[ '/home' ]">
    </div>
  </div>
  <div>
    <h5>Вже куплено квитків
      на нашому сайті:</h5>
      <p style="font-size: 40px;">43157852212</p>
  </div>
  <div>
    <div class="footer-links">
      <span [routerLink]="[ '/home' ]">Потяги</span>
      <p></p>
      <span [routerLink]="[ '/about' ]">Автобуси</span>
      <p></p>
      <span [routerLink]="[ '/contacts' ]">Авіаквики</span>
    </div>
  </div>
</footer>
<section><div class="container">
  <h2 class="">Квитки на поїзд FedoranychTravel</h2>
  <p class="">Якщо вам необхідно поїхати на близьку чи далеку відстань, то FedoranychTravel — сервіс для покупки
    залізничних квитків Укрзалізниці — те що треба. Без поїздки до кас. Без очікування в чергах.</p>
  <p class="">Просто. Швидко. Доступно.</p>
</div></section>